button {
  &.btn-action,
  &.dropdown-toggle {
    &:hover,
    &:focus-visible,
    &:focus {
      color: $black;
      background-color: $yellow-500;
      box-shadow: none;
      outline: none;
    }
  }
}

ul {
  &.dropdown-menu {
    &.dropdown-visible {
      position: absolute;
      inset: 0px 0px auto auto;
      margin: 0px;
      transform: translate3d(0px, 40px, 0px);

      li {
        &.dropdown-option {
          .dropdown-item {
            padding: $spacer * 0.5;
            color: $white;
            &:hover,
            &:focus {
              padding: $spacer * 0.5;
              color: $black;
              background-color: $yellow-500;
              border-radius: 0;
              &:first-of-type {
                border-top-left-radius: var(--bs-dropdown-inner-border-radius);
                border-top-right-radius: var(--bs-dropdown-inner-border-radius);
              }
              &:last-of-type {
                border-bottom-left-radius: var(
                  --bs-dropdown-inner-border-radius
                );
                border-bottom-right-radius: var(
                  --bs-dropdown-inner-border-radius
                );
              }
            }
          }
        }
      }
    }
  }
}
